# Maven
target/
*.class
*.jar
 
# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
Styles/
 
# IDE
.idea/
*.iml
*.iws
.vscode/
.classpath
.project
.settings/
 
# OS
.DS_Store
Thumbs.db
 
# Logs
*.log
 